
.single-featured-container{
    width: 100%;
}
.single-featured-container .single-featured-image{
    width: 100%;
 aspect-ratio: 355/300;
 
 overflow: hidden;
 border-radius: var(--radius);
 

}
.single-featured-container .image-component img{
    width: 100%;
    height: 100%;
    object-fit: cover;
border-radius: var(--radius);
}
.single-featured-container .single-featured-text-component .about-info{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top:40px


}
.single-featured-container .about-info{
    letter-spacing: 1px;
    font-size: 16px;
    
}
.single-featured-container .about-info{
    margin-bottom: 30px;
}
.single-featured-container .contact-us-form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;

}
.single-featured-container .contact-us-form .primary-input{
    height: 50px;
    width: 100%;
    
}
.single-featured-container .contact-us-form .primary-textarea{
    /* height: 45px; */
    width: 100%;
    
}
.single-featured-container .button-primary-dark{
    width: 100%;
    text-transform: uppercase;
}


@media screen and (min-width:992px){
   .single-featured{
    display: flex;
    justify-content:space-between;
    align-items: center;
   }
   /* .single-featured-container .reverse-content .single-featured{
    flex-direction:row-reverse;
   } */
   .single-featured-image,.single-featured-text-component{
    flex: 0 0 calc(50% - 30px);

   }
   .single-featured-container .single-featured-image {
    aspect-ratio: 625/550;
  }
   .single-featured-container .button-primary-dark{
    width: 20%;
    text-transform: uppercase;
}
.single-featured-container .contact-us-form .primary-input{
    height: 50px;
    width: 100%;
    
}
}

